<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Delete Movie</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="p-5">
<div class="container">
    <h3>Are you sure you want to delete "{{ movie.moviename }}"?</h3>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'movies' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
